header{
    display: flex;
    align-items: center;
}
.social_icons{
    margin-left: auto;
}
.header_menu{
    margin: 10px 0;
}
.header_menu a{
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    opacity: 0.6;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}
.header_menu a:hover{
    opacity: 0.9;
    transform: scale(1.1);
}
.social_icons a{
    margin-left: 20px;
}
.social_icons img{
    width: 20px;
    height: 20px;
    opacity: 0.6;
}
.social_icons img:hover{
    opacity: 1;
    transform: scale(1.1);
}