.navbar{
    padding: 10px 0;
    display: flex;
    background-color: #fff;
    margin-top: 20px;
    justify-content: space-between;
}
.navbar li{
    list-style: none;
    display: inline-block;
}
.navbar ul{
    display: inline-flex;
    align-items: center;
}
.navbar li a{
    text-decoration: none;
    display: block;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    opacity: 0.8;
    margin: 0 10px;
}
.navbar li a:hover{
    opacity: 1;
    transform: scale(1.1);
}
.searchButton{
    display: inline-flex;
    margin-right: 10px;
}

.searchButton img{
    width: 30px;
    height: 30px;
}


input {
    outline: none;
    cursor: pointer;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
    background: #fff url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 7px;
	border: solid 1px #ccc;
	padding: 4px 3px 4px 30px;
	width: 0px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 50%;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
    width: 130px;
    padding-left: 38px;
	background-color: #fff;
	border-color: rgb(180, 180, 180);
    border-radius: 10em;
    cursor: text;
	-webkit-box-shadow: 0 0 5px rgba(187, 187, 187, 0.5);
	-moz-box-shadow: 0 0 5px rgba(194, 194, 194, 0.5);
	box-shadow: 0 0 5px rgba(201, 201, 201, 0.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
